# PostgreSQL connection string (change to your own)
DATABASE_URL=

# Server port
PORT=5000

# JWT secret for authentication
JWT_SECRET=

# OpenAI API keys (redundant, because i used mock data, so you can skip)
OPENAI_API_KEY=

# Cloudinary configuration for image uploads
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
